
.data-list .header-section .wrapper {
    display: flex;
    justify-content: end;
    margin-right: 3rem;
    margin-bottom: 1rem;
}
.data-list .header-section .content {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    align-items: center;
}
.data-list .header-section .content p {
    margin: 0;
    display: flex;
    align-items: center;
    -moz-column-gap: 0.3rem;
         column-gap: 0.3rem;
}
.data-list .header-section .content p span {
    font-weight: 700;
}
.data-list .header-section .content p i {
    margin-top: 0.2rem;
    font-size: 0.725rem;
}
.data-list .header-section .content a {
    background: #4E73DF;
    color: #ffffff;
    font-size: 1.2rem;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.data-list .content-section {
    overflow: auto;
}
.data-list .content-section .wrapper {
    min-width: 900px;
}
.data-list .content-section table {
    margin-top: 1rem;
}
.data-list .content-section table tr,
.data-list .content-section table th,
.data-list .content-section table td {
    border: none;
    transition: all 0.2s;
}

.data-list .content-section table tbody tr:hover {
    background: #4E73DF7c;
    color: #ffffff;
}
.data-list .content-section tbody tr .action-icon .action a {
    color: #6b7280;
}
.data-list .content-section table tbody tr:hover .action-icon .action a {
    color: #ffffff;
}
.data-list .content-section table tbody tr .action-icon .action a:hover {
    color: #4E73DF;
}

.data-list .content-section thead {
    background: #4E73DF;
    color: #ffffff;
}
.data-list .content-section tbody tr td .bullet-active,
.data-list .content-section tbody tr td .bullet-offline {
    position: relative;
}
.data-list .content-section tbody tr td .bullet-active::before,
.data-list .content-section tbody tr td .bullet-offline::before {
    content: '';
    height: 9px;
    width: 9px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}
.data-list .content-section tbody tr td .bullet-active::before {
    background: #019c01;
}
.data-list .content-section tbody tr td .bullet-offline::before {
    background: #ff2929;
}
.data-list .content-section tbody tr td .status {
    margin-left: 1rem;
}
.data-list .content-section tbody tr .action-icon {
    position: relative;
}
.data-list .content-section tbody tr .action-icon .action-btn {
    margin-left: 1.5rem;
    font-size: 0.9rem;
    cursor: pointer;
}

.data-list .content-section tbody tr .action-icon .action {
    background: #00000018;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 35px;
    -moz-column-gap: 0.9rem;
         column-gap: 0.9rem;
    border-radius: 50rem;
    position: absolute;
    left: -1.2rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: color 0.3s;
}
.action-show {
    display: flex !important;
}

/* ====================================
   ------- video list ----------------
   ====================================  */


.custom-container {
    max-width: 1000px;
    margin: 0 auto;
}
.video-catagory .view-videos {
    color: #858796 !important;
}
.video-catagory .content-section .wrapper .table-body .table-row {
    display: flex;
    gap: 2rem;
}
.video-catagory .content-section .wrapper .table-body .view-videos {
    text-decoration: none;
}
.video-catagory .content-section .wrapper .table-body .table-row .video-count,
.video-catagory .content-section .wrapper .table-body .table-row .video-action {
    margin-left: auto;
    margin-right: 2rem;
    align-self: center;
}
.video-catagory .content-section .wrapper .table-row {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 1rem;
}
.video-catagory .content-section .wrapper .table-body .table-row {
    padding-top: 0.5rem;
}
.video-catagory .content-section .wrapper .table-body .table-row:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.video-icon {
    visibility: hidden;
}
.video-catagory .content-section .wrapper .table-body .table-row:hover .video-icon {
    visibility: visible;
}
.video-catagory .content-section .wrapper .table-body .course,
.video-catagory .content-section .wrapper .table-body .show-video {
    gap: 1rem;
    align-items: flex-start;
}
.video-catagory .content-section .wrapper .table-body img,
.video-catagory .content-section .wrapper .table-body video {
    display: block;
    width: 80px;
    height: 50px;
    -o-object-fit: cover;
    object-fit: cover;
}
.video-catagory .content-section .wrapper .table-body .show-video .duration {
    position: absolute;
    color: #fff;
    font-size: 0.55rem;
    right: 0.1rem;
    bottom: 0.15rem;
    background-color: #373535;
    padding: 0 0.2rem;
}
.video-catagory .content-section .wrapper .table-body .video-icon div {
    gap: 1rem;
    margin-right: 1.5rem;
}
.video-catagory .content-section .wrapper .table-body .video-icon div a {
    cursor: pointer;
    padding: 0.2rem;
}